<!--
 * Confirmation-page View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<app-page-header [pageHeader]="pageHeader"></app-page-header>

<div
  class="row mx-auto progress-row"
  style="margin-top:10px; margin-bottom: 25px; max-width: 500px;"
>
  <div class="col-md-12" style="padding: 0">
    <div class="progress bg-transparent mb-4 progress-main">
      <div
        class="progress-bar rounded progress-cell"
        role="progressbar"
        aria-valuenow="33"
        aria-valuemin="0"
        aria-valuemax="100"
        style="background-color: #00A452; width: 33%; border: solid 2px #005538"
      ></div>
      <div
        class="progress-bar rounded progress-cell"
        role="progressbar"
        aria-valuenow="33"
        aria-valuemin="0"
        aria-valuemax="100"
        style="background-color: #00A452; width: 33%; border: solid 2px #005538; margin-left: 7px"
      ></div>
      <div
        class="progress-bar mr-1 rounded progress-cell"
        role="progressbar"
        aria-valuenow="33"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 33%; box-shadow: 0 0 3px 3px #005538; margin: 0 7px 0 7px; background-color: #00A452; color: whitesmoke"
      >
        <p class="mb-0">
          Steg 3 av 3
        </p>
      </div>
    </div>
  </div>
</div>
<app-card-confirmation
  [title]="formTitle"
  [description]="formDescription"
  [importantContent]="importantContent"
  [content]="content"
></app-card-confirmation>

<div class="row footer_buttons">
  <div class="col pr-0">
    <a [routerLink]="'/frontpage'">
      <button
        id="startsida"
        type="Startsida"
        class="btn btn-info btn-round px-0"
        style="float: left; height: 3.5rem; max-width: calc(50vw - 30px)"
        (click)="clearData()"
      >
        <div class="container">
          <div class="row">
            <div class="col-3" style="padding: 5px 0 0 10px">
              <i
                class="nc-icon nc-minimal-left bold"
                style="font-size: 20px"
              ></i>
            </div>
            <div class="col-9" style="padding: 6px 20px 0px 5px">
              <span class="p-0" style="font-size: 14px">Startsida</span>
            </div>
          </div>
        </div>
      </button>
    </a>
  </div>

  <div class="col pl-0">
    <a [routerLink]="'/edit'">
      <button
        id="kompletteraÄrende"
        type="KompletteraÄrende"
        class="btn btn-info btn-round px-0"
        style="float: right; height: 3.5rem; max-width: calc(50vw - 30px)"
      >
        <div class="container">
          <div class="row">
            <div class="col-9" style="padding: 0 0 0 10px">
              <span class="p-0" style="font-size: 14px"
                >Komplettera Ärende</span
              >
            </div>
            <div class="col-3" style="padding: 6px 10px 0 5px">
              <i
                class="nc-icon nc-minimal-right bold"
                style="font-size: 20px"
              ></i>
            </div>
          </div>
        </div>
      </button>
    </a>
  </div>
</div>
