<!--
 * Confirmation-page View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->
<app-card-confirmation></app-card-confirmation>

<div class="row">

        <div class="col-md-12">
            <a [routerLink]="'/frontpage'">
                <button id="startsida" type="Startsida" class="btn btn-info  btn-round" style="float: left;">
                    <span>Startsida</span>
                </button>
            </a>

            <a [routerLink]="'/edit'">
                <button id="kompletteraÄrende" type="KompletteraÄrende" class="btn btn-info  btn-round" style="float: right;">
                    <span>Komplettera Ärende</span>
                </button>
            </a>
        </div>

    </div>
