<!-- This is an sample page to illustrate, each new "page" will have a new folder for instance "startsida", "upload image" and so on -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Titel</h5>
                <p class="card-description">Beskrivning</p>
            </div>
            <div class="card-body">
                <section>
                    <div class="col-md-12 px-1">
                        
                        <div class="form-group editable card-form">
                            <label>Namn</label>
                            <p [hidden]="saveButton1">{{user.name}}</p>
                            <input [hidden]="!saveButton1" type="text" class="form-control" placeholder="Ditt namn" [(ngModel)]="user.name" value="{{user.name}}">
                            <label>Email</label>
                            <p [hidden]="saveButton1">{{user.email}}</p>
                            <input [hidden]="!saveButton1" type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" value="{{user.email}}">
                            <label>Telefon</label>
                            <p [hidden]="saveButton1">{{user.phone}}</p>
                            <input [hidden]="!saveButton1" type="text" class="form-control" placeholder="Telefon" [(ngModel)]="user.phone" value="{{user.phone}}">
                         
                        </div>

                    </div>
                </section>
      
            </div>
                     
                <div class="update ml-auto mr-auto btn-on-card">
                    <button type="submit" class="btn btn-info  btn-round" (click)="onSave(saveButton1)"  >
                        <i class="nc-icon circle-icon nc-ruler-pencil"></i>
                        <span [hidden]="saveButton1">Redigera</span>
                        <span [hidden]="!saveButton1">Spara</span>
                    </button>
                </div>
                 
        </div>
    </div>
</div>
