<!--
 * Card Form View File, used for the registration of contact details
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-description">{{description}}</p>
      </div>

      <form [formGroup]="userForm">
        <div class="card-body">
          <section>
            <div class="col-md-12 px-1 mb-4">
              <div class="form-group editable card-form">
                <div *ngIf="editCase">
                  <label>Ärendenummer</label>
                  <p id="caseNr">{{ caseNumber }}</p>
                </div>
                <label>Namn</label>
                <input id="name" formControlName="name" type="text" class="form-control" placeholder="Anders Andersson" [(ngModel)]="user.name" value="{{ user.name }}" (input)="somethingChanged()" required (blur)="setInputFieldChanged($event)"/>

                <div id="errorName" *ngIf="name.errors && name.errors.required && name.touched" class="alert alert-danger">
                  Namn är obligatoriskt.
                </div>
                <div id="errorName" *ngIf="name.errors && name.errors.minlength && nameChanged" class="alert alert-danger">
                  Namnet måste minst vara fyra bokstäver långt.
                </div>

                <label>Email</label>
                <input id="email" formControlName="email" type="text" class="form-control" placeholder="anders.andersson@gmail.com" [(ngModel)]="user.email" value="{{ user.email }}" (input)="somethingChanged()" required (blur)="setInputFieldChanged($event)"/>
                <div id="errorEmail" *ngIf="email.errors && email.errors.required && email.touched" class="alert alert-danger">
                  Email är obligatoriskt.
                </div> 
                <div id="errorEmail" *ngIf="email.errors && email.errors.email && emailChanged" class="alert alert-danger">
                  Ogiltigt emailadress.
                </div>

                <label>Telefon</label>
                <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="+46X XXX XX XX" [(ngModel)]="user.phone" value="{{ user.phone }}" (input)="somethingChanged()" required (blur)="setInputFieldChanged($event)"/>
                <div id="errorPhone" *ngIf="phone.errors && phone.errors.required && phone.touched" class="alert alert-danger">
                  Telefonnummer är obligatoriskt.
                </div>
                <div id="errorPhone" *ngIf="phone.errors && phone.errors.phoneError && phoneChanged" class="alert alert-danger">
                  Ogiltigt telefonnummer.
                </div>
              </div>
            </div>
          </section>
        </div>
      </form>
      <div class="card-footer update ml-auto mr-auto btn-on-card">
        <!-- <button type="submit" [disabled]="!isValid()" class="btn btn-info  btn-round" (click)="onSave(saveButton1)"  >
                        <span >Nästa</span>
                    </button> -->
      </div>
    </div>
  </div>
</div>
<br />
<!-- <input type="text" placeholder="case number" #caseNumber/>
    <button (click)='httpService.doSearch(caseNumber.value, "/annro873/")'>Search</button> -->

<!-- <label>
    Name:
    <input type="text" [formControl]="nameControl">
  </label> -->
