<!--
 * Summary-page View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<!-- Step text-->
<div class="card" style="background-color: transparent; box-shadow: none;">
        <h4 style="display: flex; justify-content: flex-end;"> Steg 2 av 3 </h4>
</div>

<app-card-default></app-card-default>

<div class="row">

    <div class="col-md-12">
        <a [routerLink]="'/frontpage'">
            <button id="tillbakaButton" type="Previous" class="btn btn-info  btn-round" style="float: left;">
                <span>Tillbaka</span>
            </button>
        </a>

        <a [routerLink]="'/confirmation'">
            <button id="skickaButton" type="Skicka Ärende" class="btn btn-info  btn-round" style="float: right;" (click)="startUpload()">
                <span>Skicka Ärende</span>
            </button>
        </a>
    </div>

</div>
