<!--
 * Summary-page View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<!-- Step text-->
<div class="card" style="background-color: transparent; box-shadow: none;">
        <h4 style="display: flex; justify-content: flex-end;"> Steg 2 av 3 </h4>
</div>



<div *ngIf="!displayForm"><app-card-default (displayForm)="setDisplayForm($event)"></app-card-default></div>
<div *ngIf="displayForm"><app-card-form [isSummary]="!isSummary" (onSaveForm)="setValidity($event)" (displayForm)="setDisplayForm($event)"></app-card-form></div>
<app-card-image [isValid]="isValid" Message="Lägg till fler bilder" (imageUploaded)="setUploadBoolean($event)"></app-card-image>


<div class="row">
 <div class="col-md-12">


        <!-- Cancel button -->
        <button id="cancelButton" type="previous" class="btn btn-info  btn-round" style="float: left;" mat-raised-button (click)="openDialog()" >Avbryt</button>

        <a [routerLink]="'/confirmation'">


        <button [disabled]="!isUploaded || !isValid || displayForm" id="skickaButton" type="Skicka Ärende" class="btn btn-info  btn-round" style="float: right;" (click)="startUpload()">

                <span>Skicka Ärende</span>
            </button>
        </a>
    </div>
</div>
