<!--
 * Summary-page View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<app-page-header [pageHeader]="pageHeader"></app-page-header>

<!-- Step text-->
<div class="card" style="background-color: transparent; box-shadow: none;">
        <h4 style="display: flex; justify-content: flex-end;"> Steg 2 av 3 </h4>
</div>

<div *ngIf="!displayForm"><app-card-default (displayForm)="setDisplayForm($event)" [title]="formTitle" [description]="formDescription"></app-card-default></div>
<div *ngIf="displayForm"><app-card-form [isSummary]="!isSummary" (onSaveForm)="setValidity($event)" (displayForm)="setDisplayForm($event)" [title]="formTitle" [description]="formDescription"></app-card-form></div>
<app-card-image [isValid]="isValid" Message="Lägg till fler bilder" (imageUploaded)="setUploadBoolean($event)" [title]="imageCardTitle" [description]="imageCardDescription"></app-card-image>
<div class = container>
    
</div>
<div class="row" style="margin-top: 20px">
   <div class="col" style="text-align:center; float: left;">
      <!-- Cancel button -->
        <!-- <button id="cancelButton" type="previous" class="btn btn-info  btn-round" style="float: left; margin-top: 10px" mat-raised-button (click)="openDialog()" ><span>Avbryt</span></button> -->
        <button type="Skicka Ärende" class="btn btn-info btn-round" style="display: block; width: 10rem; height: 3.5rem" (click)="openDialog()">
            <span>Avbryt       </span>
        </button> 
    </div>
    <div class="col" style="text-align:center;">
        <!-- Cancel button -->
        <button [disabled]="!isUploaded || !isValid || displayForm" id="skickaButton" type="Skicka Ärende" class="btn btn-info  btn-round" style="display: block; width: 10rem; height: 3.5rem; float: right;" (click)="startUpload()">
            <span>Skicka Ärende</span>
        </button>        
    </div>
</div>
