<!--
 * Fetch Case Form View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Hämta ditt ärende</h5>
                <p class="card-description">Skriv in ärendenumret till ärendet du vill komma åt</p>
            </div>

            <form [formGroup]="caseNrForm">
                <div class="card-body">
                    <section>
                        <div class="col-md-12 px-1">
                            <div class="form-group editable card-form">
                                <label>Ärendenummer</label>
                                <!--
                            <p [hidden]="saveButton1">{{user.name}}</p>
                               -->

                                <input id="caseNr" [hidden]="!saveButton1" type="text" class="form-control"
                                    placeholder="Ex. 1234567" required>

                            </div>

                        </div>
                    </section>

                </div>


            </form>
            <div class="card-footer update ml-auto mr-auto btn-on-card">
                <a [routerLink]="'/edit'">
                    <button id="submit" type="submit" class="btn btn-info  btn-round">
                        <span>Hämta</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- <label>
    Name:
    <input type="text" [formControl]="nameControl">
  </label> -->
