<!--
 * Frontpage View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<app-page-header [pageHeader]="pageHeader"></app-page-header>

<app-progress-bar></app-progress-bar> 

<app-card-form
  (onSaveForm)="setValidity($event)"
  [isSummary]="isSummary"
  [title]="formTitle"
  [description]="formDescription"
></app-card-form>
<app-card-image
  [isValid]="isValid"
  Message="Välj bild"
  (imageUploaded)="setUploadBoolean($event)"
  [title]="imageCardTitle"
  [description]="imageCardDescription"
></app-card-image>

<div class="row">
  <div class="col-md-12">
    <div class="footer_buttons">
      <a [routerLink]="'/summary'">
        <button
          [disabled]="!isValid || !isUploaded"
          id="nextButton"
          type="Next"
          class="btn btn-info btn-round"
          style="float: right;"
        >
          <div class="container">
            <div class="row">
              <span>Nästa</span>
              <i
                class="nc-icon nc-minimal-right bold"
                style="top: 5; font-size:14px"
              ></i>
            </div>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>
