<!--
 * Frontpage View File
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<!-- Page Header -->
<app-page-header [pageHeader]="pageHeader"></app-page-header>

<!-- Step text-->
<div class="card" style="background-color: transparent; box-shadow: none;">
  <h4 style="display: flex; justify-content: flex-end; margin-top: 0;">
    Steg 1 av 3
  </h4>
</div>

<app-card-form (onSaveForm)="setValidity($event)" [title]="formTitle" [description]="formDescription" ></app-card-form>
<app-card-image [isValid]="isValid" Message="Välj bild" (imageUploaded)="setUploadBoolean($event)" [title]="imageCardTitle" [description]="imageCardDescription"></app-card-image>

<div class="row">
  <div class="col-md-12">
    <a [routerLink]="'/summary'">
      <button [disabled]="!isValid || !isUploaded" id="nextButton" type="Next" class="btn btn-info  btn-round" style="float: right;">
        <span>Nästa</span>
      </button>
    </a>
  </div>
</div>
