<!-- 3. Footer Start  -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row" style="align-items: center">
      <div
        class="col-3 pr-0"
        style="display: flex; align-items: center; justify-content: center"
      >
        <object
          width="70px;"
          data="assets/img/logotype_symbol.svg"
          type="image/svg+xml"
        ></object>
      </div>
      <div class="col-9">
        <span class="align-middle">
          Brännskador är en webapplikation för svenska sjukvården att enkelt men
          säkert skicka bilder för skundär expertbedömning.
        </span>
      </div>
    </div>
  </div>
</footer>
