<!-- 3. Footer Start  -->
<footer class="footer">
    <div class="container-fluid">
         <div class="row">
     <div class="col-4">
                  <object width="100px;" data="assets/img/logotype_symbol.svg" type="image/svg+xml"></object>
             
             </div>
 
             
              
        <div class="col-8">
                Brännskador är en webapplikation för svenska sjukvården att enkel men säkert skicka bilder för skundär expertbedömning. 
             </div>
        </div>
    </div>
</footer>


