<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-description">{{description}}</p>
            </div>
            <div class="card-body">
                <section>
                    <div class="col-md-12 px-1">
                            <div class="form-group editable card-form">
                                <label>Ärendenummer</label>
                                <p name ="Ärendenummer" id="caseNr">{{ case.caseNr }}</p>
                                <label>Ärendestatus</label>
                                <p name="Ärendestatus">Skickat</p>

                                <h5 style="font-weight: bold;"> {{ importantContent }}</h5>
                                <p>{{ content }}</p>

                                <img src = "../../../assets/img/checkMark.png" class="center">
                            </div>
                    </div>
                </section>
            </div>
    </div>
</div>
