<!--
 * Edit-case page
 * @version 1.0
 * @author Albin Lindén <albli248@student.liu.se>
 * @author Henrik Johansson <henjo114@student.liu.se>
-->
<app-card-case-number editCase="true"></app-card-case-number>
<app-card-patient-data editCase="true" *ngIf="false"></app-card-patient-data>
<app-card-table></app-card-table>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <a [routerLink]="'/frontpage'">
            <button id="skickaButton" type="Spara" class="btn btn-info  btn-round" style="display: inline-block">
                <span>Startsida</span>
            </button>
        </a>
        <a [routerLink]="'/confirmation'" style="margin-left: 20px">
            <button id="skickaButton" type="Spara" class="btn btn-info  btn-round" style="display: inline-block" (click)="uploadPatientForm()">
                <span>Spara ärende</span>
            </button>
        </a>
    </div>
</div>
