<!--
 * Card Form View File, used for the registration of contact details
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Patientinformation</h5>
                <p></p>
            </div>

            <form>
                <div class="card-body">
                    <section>
                        <div class="col-md-12 px-1">
                            <div class="form-group editable card-form">
                                    <form [formGroup]="userForm">
                                    <label>Namn</label>
                                    <input id="patientName" formControlName="patientName" type="text" class="form-control" placeholder="Namn" [(ngModel)]="patientInfo[0]" value="{{patientInfo[0]}}" (input)="somethingChanged()">
                                    <label>Personnummer</label>
                                    <input id="patientSSN" formControlName="patientSSN" type="text" class="form-control" placeholder="Personnummer" [(ngModel)]="patientInfo[1]" value="{{patientInfo[1]}}" (input)="somethingChanged()">
                                    <label style="margin-top: 15px">Anteckning</label>
                                    <textarea id="patientComments" formControlName="patientComments" class="form-control" rows="5" (input)="somethingChanged()"></textarea> 
                                    </form>                                                                 
                            </div>
                            </div>


                    </section>
                </div>
            </form>
        </div>
                                <div class="card-footer update ml-auto mr-auto btn-on-card" style="display: none">
                    <button type="submit" class="btn btn-info  btn-round"  >
                        <i class="nc-icon circle-icon nc-ruler-pencil"></i>
                        <span>Redigera</span>
                        <span>Spara</span>
                    </button>

                </div>
        </div>
    </div>

<!-- <label>
    Name:
    <input type="text" [formControl]="nameControl">
  </label> -->

