<div class="button" (click)="takePicture()">
    <span class="button-text">Ta bild</span>
    </div>

<div class="button" (click)="upload()">
    <span class="button-text">Ladda upp bild</span>
    </div>
    
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input class="test" #file type="file" accept='image/*' (change)="preview(file.files)"/>
    <img [src]="imgURL "width="500" *ngIf="imgURL">

    <button style="display: block" *ngIf="imgURL" (click)="updateData()">Skicka bild till parent</button>

    <a [routerLink]="['/confirmation', hej]">confirmation</a>