<!-- This is an sample page to illustrate, each new "page" will have a new folder for instance "startsida", "upload image" and so on -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Titel</h5>
                <p class="card-description">Beskrivning</p>
            </div>
            <div class="card-body">
                <section>
                    <div class="col-md-12 px-1">
                        
                        <div class="form-group editable">
                            <label>Namn</label>
                            <p [hidden]="saveButton1">Alexander</p>
                            <input [hidden]="!saveButton1" type="text" class="form-control" placeholder="Ditt namn" value="Alexander">
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-info  btn-round"  (click)="onSave(saveButton1)" >
                                    <i class="nc-icon nc-ruler-pencil"></i>
                                    <span [hidden]="saveButton1"> Redigera</span>
                                    <span [hidden]="!saveButton1"> Spara</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


