<!--
 * Card Table View File, used for the registration of contact details
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Olycksfallsbeskrivning</h5>
                <p class="card-description"></p>
            </div>

            <form [formGroup]="userForm">
                <div class="card-body">
                    <section>
                        <div class="col-md-12 px-1">
                                <p>Använd denna checklista under det akuta omhändertagande och faxa sedan till Brännskadecentrum när patienten lämnar avdelningen.
                                    Om någon av de rutor etc etc...
                                </p>
                            <div class="card">

  <div class="table-full-width">
    <table class="table">
      <thead class="text-danger">
        <th>Fråga</th>
        <th>Ja</th>
        <th>Nej</th>
      </thead>
      <tbody *ngFor="let checkbox of checkboxes; let i=index;">
        <tr>
          <td>{{checkbox.question}}</td>
          <td><div class="form-check">
  <label class="form-check-label">
      <input id="checkbox0" class="form-check-input" type="checkbox" [ngModel]="checkbox.value && checkbox.storedValue" [ngModelOptions]="{standalone: true}" (change)="setCheckboxes(i, true, $event)">

      <span class="form-check-sign">
          <span class="check"></span>
      </span>
  </label>
</div></td>
<td><div class="form-check">
    <label class="form-check-label">
        <input id="checkbox1" class="form-check-input" type="checkbox" [ngModel]="checkbox.value == false && checkbox.storedValue" [ngModelOptions]="{standalone: true}" (change)="setCheckboxes(i, false, $event)">

        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
  </div></td>
</tr>
<tr *ngIf="checkbox.complementary && checkbox.storedValue && checkbox.value">
    <td>
        <div *ngIf="checkbox.complementary == 'formHeightWeight'" id="formHeightWeight" class="complement">
            Längd: <input id="timeArrival" formControlName="timeArrival" type="text" class="form-control inline-input" placeholder="" [(ngModel)]="patientInfo[2]" value="{{patientInfo[2]}}" (input)="somethingChanged()"> cm.
            Vikt: <input id="timeArrival" formControlName="timeArrival" type="text" class="form-control inline-input" placeholder="" [(ngModel)]="patientInfo[2]" value="{{patientInfo[2]}}" (input)="somethingChanged()"> kg.
        </div>
        <div  *ngIf="checkbox.complementary == formHeightWeight2" id="formHeightWeight" class="complement">
            Längd: <input id="timeArrival" formControlName="timeArrival" type="text" class="form-control inline-input" placeholder="" [(ngModel)]="patientInfo[2]" value="{{patientInfo[2]}}" (input)="somethingChanged()"> cm.
            Vikt: <input id="timeArrival" formControlName="timeArrival" type="text" class="form-control inline-input" placeholder="" [(ngModel)]="patientInfo[2]" value="{{patientInfo[2]}}" (input)="somethingChanged()"> kg.
        </div>
    </td>
</tr>
      </tbody>
    </table>
  </div>
</div>
<form [formGroup]="userForm">
<div>Hur ska patienten transporteras?</div>
  <textarea id="patientComments" formControlName="patientComments" class="form-control" rows="2" [(ngModel)]="patientInfo[0]" value="{{patientInfo[0]}}" (input)="somethingChanged()"></textarea>
  <div style="margin-top: 15px;">Förväntad ankomsttid till Brännskadecentrum i Linköping?</div>
  <input id="dateArrival" formControlName="dateArrival" type="text" class="form-control" placeholder="Datum" [(ngModel)]="patientInfo[1]" value="{{patientInfo[1]}}" (input)="somethingChanged()" style="width: 40%">
  <input id="timeArrival" formControlName="timeArrival" type="text" class="form-control" placeholder="Tid" [(ngModel)]="patientInfo[2]" value="{{patientInfo[2]}}" (input)="somethingChanged()" style="width: 40%">

</form>

                        </div>
                    </section>

                </div>


            </form>

        </div>
    </div>
</div>

<!-- <label>
    Name:
    <input type="text" [formControl]="nameControl">
  </label> -->
