<div class="top-page-section container-fluid">
  <div class="row page">
    <div class="px-4">
      <h3 class="info-page-header text-center">
        En applikation för bildhatering vid brännskadeolyckor
      </h3>
      <p class="info-page-sub-header mb-0 text-left">
        Denna webbapplikation är utformad för att på ett snabbt och enkelt sätt
        kunna skicka bilder på brännskador till brännskadeenheten i Linköping
        för vidare bedömning. Webbapplikationen riktar sig till personal på
        sjukhus eller vårdcentraler som anser att vidare bedömning av en
        brännskada behövs för att avgöra allvarlighetsgraden och om patienten
        behöver behandlas på specialenheter för brännskador.
      </p>
    </div>
  </div>
</div>

<hr class="dashed-line" />

<div class="container-fluid page-section">
  <div class="row illustration-row">
    <div class="col-5 illustration-col">
      <div class="illustration-circle" style="background-color: #7DABB2">1</div>
    </div>
    <div class="col-7 illustration-step-text align-items-center">
      <h6 class="text-left step-h5">
        Skapa ärende
      </h6>
      <p class="text-left mb-0">
        Fyll i de nödvändiga kontaktuppgifterna för att skapa ett ärende. Ta
        därefter bilder med kameran på din enhet eller ladda upp existerande
        bilder till ärendet. Tryck på “Nästa”-knappen för att komma vidare.
      </p>
    </div>
  </div>
  <div class="row illustration-row">
    <div class="col-7 illustraion-step-text">
      <h6 class="text-right step-h5">
        Skicka ärende
      </h6>
      <p class="text-right mb-0">
        Kontrollera dina uppgifter och redigera vid behov. Klicka därefter på
        Skicka ärende och autentisera dig med antingen Mobilt BankID eller ett
        engångslösenord.
      </p>
    </div>
    <div class="col-5 illustration-col">
      <div class="illustration-circle" style="background-color: #518F98">2</div>
    </div>
  </div>
  <div class="row illustration-row">
    <div class="col-5 illustration-col">
      <div class="illustration-circle" style="background-color: #116672">3</div>
    </div>
    <div class="col-7 illustration-step-text">
      <h6 class="text-left step-h5">
        Utvärdera
      </h6>
      <p class="text-left mb-0">
        Spara ärendenumret du får efter att ha skickat iväg ditt ärende. Nu
        kommer ditt ärende att bli bedömt av en specialist och du kommer att bli
        kontaktad angående bedömningen.
      </p>
    </div>
  </div>
</div>

<hr class="dashed-line" />

<div class="container-fluid page-section ">
  <div class="row">
    <div class="container lightning-container">
      <h5 class="text-right mb-0">
        Enkelhet och snabbhet
      </h5>
      <p class="mb-0 text-justify">
        Denna webbapplikation är utformad med enkelhet och snabbhet i åtanke för
        att förenkla bildöverföringsprocessen mellan vårdpersonal och
        specialister. I utvecklandet av webbapplikationen har dialoger förts med
        både vårdpersonal som skickar bilder och specialister som tar emot
        bilderna för att säkerställa att tjänsten är ändamålsenlig och
        lätthanterlig.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="container lock-container">
      <h5 class="text-left mb-0">Säkerhet med kvaité</h5>
      <p class="mb-0 text-justify">
        För att garantera att endast behörig vårdpersonal får tillgång till
        webbapplikationen används två olika autentiseringsmetoder. Den ena är
        användning av Mobilt BankID som kan beställas via din bank och den andra
        är användning av ett engångslösenord. Engångslösenordet fås av
        specialisten som du är i kontakt med.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="container profile-container">
      <h5 class="text-center mb-0">
        Med individen i fokus
      </h5>
    </div>
  </div>
</div>

<hr class="dashed-line" />

<div class="page-section">
  <div class="row justify-content-center">
    <div class="col-6">
      <a [routerLink]="'/frontpage'">
        <button
          type="Startsida"
          class="btn btn-info  btn-round"
          style="float: right;"
        >
          <span class="p-0">Gå till startsida</span>
        </button>
      </a>
    </div>
  </div>
</div>
