.textBody {
  width: 60%;
}

.textPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-section {
  margin: 40px 0px 0px 0px;
  height: 100%;
}

.header-section {
  padding: 0px 6vw 0px 6vw;
  text-align: justify;
}

.info-page-header {
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 15px;
}

.info-page-sub-header {
  font-weight: bold;
}
.illustration-row {
  margin: 25px 0px;
}

.step-h5 {
  margin-bottom: 3px;
}

.illustration-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 60px;
  color: whitesmoke;
  line-height: 120px;
  text-align: center;
}

.col-5,
.col-7 {
  padding: 0;
}

.text-block {
  position: absolute;
}

.lightning-image {
  width: 30vw;
  position: absolute;
}

.content-wrapper {
  height: 100%;
}
