<!-- 
 * Card Base Template View File
 * Card layout for a form
 * @version 1.0
 * @author Alexander Anserud <alean378@student.liu.se>
-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{card_title}}</h5>
                <p class="card-description">Beskrivning</p>
            </div>
            <div class="card-body">
                <section innerHTML="fe{{card_content}}">
                  
                </section>
            </div>
            
            <div class="card-footer"> </div>  
        </div>
    </div>
</div>
